parameters:
    level: max
    paths:
        - src
        - tests

    ignoreErrors:
        - identifier: missingType.iterableValue
        # from strict rules
        - identifier: function.alreadyNarrowedType
        - identifier: instanceof.alwaysTrue

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
