<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
>
    <testsuites>
        <testsuite name="general-tests">
            <directory>tests</directory>
            <exclude>tests/Writer/Redshift</exclude>
            <exclude>tests/Writer/Workspace</exclude>
            <exclude>tests/Writer/TableDefinitionTest.php</exclude>
            <exclude>tests/Writer/TableDefinitionV2Test.php</exclude>
            <exclude>tests/Writer/StorageApiLocalTableWriterTest.php</exclude>
            <exclude>tests/Writer/StorageApiHeadlessWriterTest.php</exclude>
            <exclude>tests/Writer/File/Strategy/ABSWorkspaceTest.php</exclude>
            <exclude>tests/Writer/Table/Source/AbsWorkspaceItemSourceFactoryTest.php</exclude>
            <exclude>tests/Writer/Table/Strategy/AbsWorkspaceTableStrategyTest.php</exclude>
        </testsuite>
        <testsuite name="main-writer-tests-1">
            <file>tests/Writer/StorageApiLocalTableWriterTest.php</file>
            <file>tests/Writer/StorageApiHeadlessWriterTest.php</file>
        </testsuite>
        <testsuite name="main-writer-tests-2">
            <!-- Any test added to tests/Writer will be run in this suite -->
            <directory>tests/Writer</directory>
            <exclude>tests/Writer/File</exclude>
            <exclude>tests/Writer/Helper</exclude>
            <exclude>tests/Writer/Table</exclude>
            <exclude>tests/Writer/Redshift</exclude>
            <exclude>tests/Writer/Workspace</exclude>
            <exclude>tests/Writer/TableDefinitionTest.php</exclude>
            <exclude>tests/Writer/StorageApiLocalTableWriterTest.php</exclude>
            <exclude>tests/Writer/StorageApiHeadlessWriterTest.php</exclude>
        </testsuite>
        <testsuite name="redshift-writer-tests">
            <directory>tests/Writer/Redshift</directory>
        </testsuite>
        <testsuite name="workspace-writer-tests">
            <directory>tests/Writer/Workspace</directory>
            <exclude>tests/Writer/Workspace/AbsWriterWorkspaceTest.php</exclude>
        </testsuite>
        <testsuite name="native-types">
            <file>tests/Writer/TableDefinitionTest.php</file>
        </testsuite>
        <testsuite name="new-native-types">
            <file>tests/Writer/TableDefinitionV2Test.php</file>
        </testsuite>
        <testsuite name="slice">
            <directory>tests/Writer/Table</directory>
            <file>tests/Writer/StorageApiLocalTableWriterTest.php</file>
            <file>tests/Writer/StorageApiSlicedWriterTest.php</file>
            <exclude>tests/Writer/Table/Source/AbsWorkspaceItemSourceFactoryTest.php</exclude>
            <exclude>tests/Writer/Table/Strategy/AbsWorkspaceTableStrategyTest.php</exclude>
        </testsuite>
        <testsuite name="synapse-writer-tests">
            <file>tests/Writer/File/Strategy/ABSWorkspaceTest.php</file>
            <file>tests/Writer/Table/Source/AbsWorkspaceItemSourceFactoryTest.php</file>
            <file>tests/Writer/Table/Strategy/AbsWorkspaceTableStrategyTest.php</file>
            <file>tests/Writer/Workspace/AbsWriterWorkspaceTest.php</file>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">tests</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
        </exclude>
    </coverage>
</phpunit>
