parameters:
    level: max
    paths:
        - src
        - tests
    stubFiles:
        - tests/stubs/K8s.stub
    ignoreErrors:
        - identifier: missingType.iterableValue
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
