parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Call to method.*on an unknown class.*NodeBuilder.*#'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
