<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
>
    <testsuites>
        <testsuite name="CommonPart1">
            <directory>tests</directory>
            <exclude>tests/Functional/DownloadFilesTest.php</exclude>
            <exclude>tests/Functional/DownloadFilesAdaptiveTest.php</exclude>
            <exclude>tests/Functional/DownloadFilesBranchTest.php</exclude>
            <exclude>tests/Functional/DownloadFilesAdaptiveBranchTest.php</exclude>
            <exclude>tests/Functional/DownloadTablesDefaultTest.php</exclude>
            <exclude>tests/Functional/DownloadTablesS3DefaultTest.php</exclude>
            <exclude>tests/Functional/DownloadTablesABSDefaultTest.php</exclude>
            <exclude>tests/Functional/DownloadTablesBigQueryTest.php</exclude>
            <exclude>tests/Functional/DownloadTablesWorkspaceBigQueryTest.php</exclude>
            <exclude>tests/Table/Strategy/BigQueryTest.php</exclude>
        </testsuite>
        <testsuite name="CommonPart2">
            <file>tests/Functional/DownloadTablesDefaultTest.php</file>
        </testsuite>
        <testsuite name="CommonFiles">
            <file>tests/Functional/DownloadFilesTest.php</file>
            <file>tests/Functional/DownloadFilesAdaptiveTest.php</file>
            <file>tests/Functional/DownloadFilesBranchTest.php</file>
            <file>tests/Functional/DownloadFilesAdaptiveBranchTest.php</file>
        </testsuite>
        <testsuite name="Aws">
            <file>tests/Functional/DownloadTablesS3DefaultTest.php</file>
        </testsuite>
        <testsuite name="Azure">
            <file>tests/Functional/DownloadTablesABSDefaultTest.php</file>
        </testsuite>
        <testsuite name="BigQuery">
            <file>tests/Table/Strategy/BigQueryTest.php</file>
            <file>tests/Functional/DownloadTablesBigQueryTest.php</file>
            <file>tests/Functional/DownloadTablesWorkspaceBigQueryTest.php</file>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">tests</directory>
        </include>
    </coverage>
</phpunit>
