{
    "timeout": 60,
    "source": {
        "directories": [
            "src\/"
        ],
        "excludes": [
            "Sandboxes\/Legacy"
        ]
    },
    "logs": {
        "text": "/tmp/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
