<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        executionOrder="depends,defects"
>
    <coverage/>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">tests</directory>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
