<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
         backupGlobals="false"
         backupStaticProperties="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">
  <source><include>
      <directory suffix=".php">src</directory>
    </include></source>
  <php>
    <!-- the value is the FQCN of the application kernel -->
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="APP_ENV" value="test" force="true" />
  </php>
  <testsuite name="Tests">
    <directory>tests</directory>
  </testsuite>
</phpunit>
