parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
        - '#Unsafe usage of new static\(\).#'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
